.body {
    background-image: url(images/KaukSeparateReality.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: gainsboro;
}
.title {
    font-size: 75px;
    font-weight: 800;
    background-color: transparent;
}
.fauxtitle {
    width: 28%;
    opacity: 0;
}
.titlecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculatorcontainer {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
}
.displaycontainer {
    order: 1;
    height: 50px;
    width: 250px;    
}
.numberscontainer {
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: 242px;
    width: 180px;
    gap: 10px;
    margin-top: 7px;
}
.operatorscontainer {
    order: 3;
    display: flex;
    flex-direction: column-reverse;
    height: 240px;
    width: 60px;
    gap: 13px;
    margin-top: 7px;
    padding-top: 2px;
}
.treycontainer {
    order: 4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 240px;
    width: 60px;
    gap: 13px;
    margin-top: 7px;
    padding-top: 2px;
}
.equalscontainer {
    order: 3;
}
.clearcontainer {
    order: 1;
}
.backspacecontainer {
    order: 2;
}
.numbers {
    height: 50px;
    width: 50px;
    background-color: lightslategray;
    opacity: .7;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
}
.numbers:hover, 
.period:hover, 
.operators:hover, 
.equals:hover,
.clear:hover,
.backspace:hover {
    transform: scale(1.1);
    opacity: 1;
}
#zero {
    width: 110px;
}
.period {
    height: 50px;
    width: 50px;
    background-color: lightslategray;
    opacity: .7;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
}
.displaybox {
    height: 50px;
    width: 225px;
    background-color: #92c2c8;
    font-size: 25px;
    font-weight: 700;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.operators {
    height: 50px;
    width: 50px;
    background-color: orange;
    font-size: 20px;
    font-weight: 700;
    opacity: .7;
    border: 2px solid black;
    border-radius: 15px;
}
.equals,
.clear,
.backspace {
    height: 50px;
    width: 50px;
    background-color: orange;
    font-size: 20px;
    font-weight: 700;
    opacity: .7;
    border: 2px solid black;
    border-radius: 15px;
}
.mainbody {
    display: flex;

}
.body1 {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.body2 {
    width: 44%;
}
.biocontainer {
    width: 100%;
    display: flex;
    justify-content: center;

}
.bio {
    height: 40%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.bioimage {
    max-width: 200px;
    height: auto;
    border: 5px solid orange;
    border-radius: 15px;
}
.bioimage2 {
    max-width: 200px;
    height: auto;
    border: 5px solid orange;
    border-radius: 15px;
}
.bioinfo {
    max-width: 50%;
    background-color: orange;
    opacity: .8;
    font-weight: 550;
    border: 5px solid black;
    border-radius: 15px;
}
.inspired {
    font-size: 18px;
    font-weight: 650;
    padding-left: 15px;
}
.footercontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer {
    margin-top: 10px;
    display: flex;
    align-items: center;

}
.footer1 {
    min-width: 600px;
    font-size: 12px;
}
.footer2 {
    min-width: 600px;
    font-size: 18px;
    text-align: end;
}